:root {
  --c-bg: #ffffff;
  --c-text: #1e2034;
  --c-text2: 30, 32, 52;
  --c-main: #414a9a;
  --c-main2: 65, 74, 154;
  --c-acc: #d74090;
  --c-acc2: 215, 64, 144;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Figtree', sans-serif;
  background: var(--c-bg);
  color: var(--c-text);
  scroll-behavior: smooth;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* MENU */

nav {
  position: sticky;
  top: 0;
  display: none;
  background: var(--c-bg);
  color: #fff;
  padding: 0 20px;
  z-index: 1000;
  border-bottom: 3px solid var(--c-acc);

  @media(min-width: 768px) {
    display: block;
  }
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .brand {
  font-weight: 700;
  color: var(--c-main);
  font-size: 40px;
  line-height: 0.6;
}

.brand__subtitle {
  color: var(--c-text) !important;
  font-size: 16px;
  font-weight: 400;
  margin-left: 0 !important;
}

nav .brand span {
  color: var(--c-acc);
  margin-left: 10px;
}

nav .menu {
  padding: 40px 10px;
}

nav a {
  color: var(--c-text);
  text-decoration: none;
  padding: 40px 30px;
  font-size: 20px;
}

nav a:hover {
  color: var(--c-bg);
  background: var(--c-acc);
}

section {
  padding: 20px 15px;
}

h1 {
  color: var(--c-text);
  font-size: 24px;
  margin-top: 60px;

  @media(min-width: 768px) {
    font-size: 50px;
  }

  @media(min-width: 1200px) {
    font-size: 42px;
  }

  @media(min-width: 1400px) {
    font-size: 50px;
  }
}

h2 {
  color: var(--c-text);
  font-size: 20px;

  @media(min-width: 768px) {
    font-size: 24px;
  }

  @media(min-width: 992px) {
    font-size: 26px;
  }
}

ul {
  list-style: disc;
  margin-left: 20px;
}

/* HERO */

.hero {
  text-align: center;
  color: #fff;
  padding: 60px 20px;
  align-items: center;
  justify-content: center;
  background: rgba(var(--c-main2), 0.04);
}

.hero__container {
  max-width: 1700px;
  margin: 0 auto;

  @media(min-width: 992px) {
    display: flex;
  }
}

.hero h1 {
  margin: 0;
  text-align: left;
  line-height: 1.8;
}

.hero .hero-left {
  text-align: left;

  @media(min-width: 992px) {
    flex: 1 1 50%;
    max-width: 50%;
  }

  @media(min-width: 1400px) {
    flex: 1 1 60%;
    max-width: 60%;
  }

  h2 {
    font-weight: 400;
  }
}

.hero ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  @media(min-width: 992px) {
    flex: 1 1 50%;
    max-width: 50%;
    padding-left: 20px;
  }

  @media(min-width: 1400px) {
    flex: 1 1 40%;
    max-width: 40%;
  }
}

.hero li {
  padding: 0;
  border-radius: 5px;
  color: var(--c-main);
  font-size: 20px;
  margin-bottom: 20px;

  @media(min-width: 768px) {
    font-size: 26px;
  }

  @media(min-width: 1200px) {
    font-size: 32px;
  }

  &::marker {
    content: url(images/chevron-right.svg);
  }
}

.hero .hero-1 {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    background: var(--c-acc);
    width: 220px;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;

    @media(min-width: 768px) {
      width: 500px
    }

    @media(min-width: 992px) {
      width: 450px
    }

    @media(min-width: 1200px) {
      width: 500px
    }
  }
}


.hero .hero-2 {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    background: var(--c-acc);
    width: 170px;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;

    @media(min-width: 768px) {
      width: 400px;
    }

    @media(min-width: 992px) {
      width: 350px
    }

    @media(min-width: 1200px) {
      width: 400px
    }
  }
}


.hero .hero-3 {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    background: var(--c-acc);
    width: 100px;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;

    @media(min-width: 768px) {
      width: 300px;
    }

    @media(min-width: 992px) {
      width: 250px
    }

    @media(min-width: 1200px) {
      width: 300px;
    }
  }
}


/* main-results */

#main-results {
  padding: 0;

  @media(min-width: 1200px) {
    padding-left: 20px;
  }

  h1 {
    text-align: center;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 40px;

    @media(min-width: 768px) {
      margin-bottom: 60px;
      text-align: center;
    }
  }

  .main-results__container {
    @media(min-width: 992px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }

    @media(min-width: 1600px) {
      gap: 50px;
    }
  }

  .chart-container {
    display: flex;
    justify-content: center;

    @media(min-width: 992px) {
      max-width: 500px;
      flex: 1 1 500px;
    }

    @media(min-width: 1600px) {
      max-width: 600px;
      flex: 1 1 600px;
    }
  }

  .chart-right {
    @media(min-width: 992px) {
      max-width: calc(100% - 520px);
      flex: calc(100% - 520px);
    }

    @media(min-width: 1600px) {
      max-width: calc(100% - 650px);
      flex: 1 1 calc(100% - 650px);
    }
  }

  .chart-bg {
    background: linear-gradient(90deg, rgba(215, 64, 144, 1) 30%, rgba(30, 32, 52, 1) 100%);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    @media(min-width: 768px) {
      padding: 20px 20px 20px 100px;
      height: 550px;
    }
  }

  .chart-bg__2 {
    background: var(--c-main);
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    @media(min-width: 768px) {
      padding: 20px 20px 20px 100px;
      height: 120px;
    }

    @media(min-width: 992px) {
      height: 150px;
    }
  }

  h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;

    @media(min-width: 768px) {
      font-size: 30px;
    }

    @media(min-width: 1200px) {
      font-size: 32px;
    }

    span {
      font-size: 100px;

      @media(min-width: 768px) {
        font-size: 150px;
      }

      @media(min-width: 1200px) {
        font-size: 200px;
      }
    }
  }

  #pie-rules {
    /*stransform: rotate(140deg);*/
  }
}


/* use */

#use {
  h1 {
    @media(min-width: 768px) {
      padding: 0 50px;
      text-align: center;
    }
  }

  .use__container {
    @media(min-width: 992px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .use__left {
    @media(min-width: 992px) {
      max-width: 60%;
      flex: 1 1 60%;
    }

    .chart-container {
      height: 250px;
      width: 100%;


      @media(min-width: 1400px) {
        height: 400px;
      }
    }

    h2 {
      text-align: center;

      @media(min-width: 768px) {}

    }
  }

  .use__right {
    margin-top: 40px;

    @media(min-width: 992px) {
      max-width: 40%;
      flex: 1 1 40%;
    }

    &::before {
      @media(min-width: 1200px) {
        content: url(images/arrow-left.svg);
        position: relative;
        top: 250px;
        right: 30px;
      }

      @media(min-width: 1400px) {
        top: 280px;
        right: 50px;
      }

    }

  }
}



/* attitude */

#attitude {
  background: rgba(var(--c-main2), 0.04);

  h1 {
    text-align: center;
  }

  p {
    text-align: center;

    @media(min-width: 768px) {
      font-size: 24px;
    }
  }

  .chart-container {
    width: 100%;
    max-width: 1400px;
    height: 300px;
  }
}


/* barriers */

#barriers {
  h1 {
    text-align: center;
  }

  .chart-container {
    height: 200px;
    width: 100%;
    max-width: 1200px;

    @media(min-width: 768px) {
      height: 500px;
    }
  }
}




/* Karty */

#about-card {
  background: linear-gradient(90deg, rgba(30, 32, 52, 1) 0%, rgba(65, 74, 154, 1) 100%);



  h1 {
    text-align: center;
    color: var(--c-bg);
  }
}


#partners {
  h1 {
    text-align: center;
  }
}

.card-strip {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1700px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: auto;
  height: auto;
  flex: 1 1 100%;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  @media(min-width: 768px) {
    flex-direction: row;
  }

  @media(min-width: 1400px) {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    flex-wrap: nowrap;
  }
}

.card2 {
  img {
    margin-bottom: 20px;

    @media(min-width: 768px) {
      margin-bottom: 0;
    }
  }


  .card-link {
    @media(min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    @media(min-width: 1200px) {
      margin-top: auto;
      height: 200px;
    }


  }

  .card-text {
    height: auto;

    @media(min-width: 1200px) {
      height: 150px;

    }
  }
}

.card-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  color: var(--c-text);

  @media(min-width: 768px) {
    margin-bottom: auto;
  }
}

.card-text {
  @media(min-width: 1400px) {
    height: 250px;
  }

  @media(min-width: 1600px) {
    height: 200px;
  }
}

.card-content h2 {
  margin-bottom: 10px;
  font-size: 28px;
  color: var(--c-main);

  @media(min-width: 768px) {
    font-size: 32px;

  }
}

.card-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link-linkedin {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: url(images/linkedin.svg);
    display: inline-block;
    margin-right: 10px;
  }
}

.link-instagram {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: url(images/instagram.svg);
    display: inline-block;
    margin-right: 10px;
  }
}

.link-email {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: url(images/email.svg);
    display: inline-block;
    margin-right: 10px;
  }
}

.link-web {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;



  &::before {
    content: url(images/link.svg);
    display: inline-block;
    margin-right: 10px;
  }
}

.card-content a {
  color: var(--c-main);
  margin-bottom: 5px;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.card-content a.instagram {
  color: #C13584;
}

.card img {
  width: 100%;

  @media(min-width: 768px) {
    width: 350px;
    object-fit: contain;
  }

  @media(min-width: 1200px) {
    width: 300px;
  }
}


/* Karta - já */

#web {
  background: linear-gradient(90deg, rgba(30, 32, 52, 1) 20%, rgba(104, 45, 89, 1) 72%, rgba(215, 64, 144, 1) 100%);
  padding-bottom: 0;

  h1 {
    text-align: center;
    color: var(--c-bg);
  }
}


.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;

  @media(min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .about__left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media(min-width: 768px) {
      align-items: flex-start;
    }

    h2,
    a {
      color: var(--c-bg);

    }
  }




  .about__middle {
    margin-top: 40px;

    ul {

      li {
        color: var(--c-bg);
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
  }

  .about__right {
    position: relative;
    top: 4px;

    img {
      width: 250px;

      @media(min-width: 768px) {}
    }
  }


  .link-linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    &::before {
      content: url(images/linkedin2.svg);
      display: inline-block;
      margin-right: 10px;
    }
  }

  .link-email {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: url(images/email2.svg);
      display: inline-block;
      margin-right: 10px;
    }
  }
}




/* Patička */

.footer {
  text-align: center;
  padding: 20px 15px;
  background: var(--c-text);
  color: #fff;
  font-size: 0.9rem;
}





/*################################################*/



.chart-container {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .6s, transform .6s;
  max-width: 600px;
  margin: auto;
}

.chart-container.visible {
  opacity: 1;
  transform: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.half {
  flex: 1 1 300px;
}

canvas {}

.small {
  font-size: .8rem;
  font-style: italic;
  margin-top: 10px;
}

/* */
